# standard python 2/3 compatability things
'enum34>=1.1.6',
'future>=0.16.0',
'funcsigs>=1.0.2',
'contextlib2>=0.5.5',

# cli
'click>=6.7',
'coloredlogs>=10.0',
'graphviz>=0.8.3',
'pyyaml>=3.12',

# core (not explicitly expressed atm)
'six>=1.11.0',
'toposort>=1.5',

# pandas kernel
'pandas>=0.22.0',
'pyarrow>=0.8.0',

# sqlalchemy kernel
'sqlalchemy>=1.2.7',
'jinja2>=2.8',
